
/* Global style */

body{
	background-color:#ccc;
}

/* Header*/

.navbar{
	border-radius:0;
	.navbar-brand{
		font-size: 1em;
	}
}

.upper-bar{
	background-color:#2f2828;
	padding:5px;
	color: #fff;
}

/* login | signout page */

.in-out span{
	cursor: pointer;
}
.selected{
	color:red;
}

.inlog{
	max-width:450px;
	margin:50px auto;
	input{
		margin-bottom: 10px;
	}
	.form-group{
	position: relative;
		.asterisk{
			position: absolute;
			top: 13px;
			right:25px;
			font-size: 24px;
			color:red;
		}
		.form-control{
			background-color: #EAEAEA;
		}
	}
}

.signup{
	display:none;
}

/* categories page */

.price-country{
	position: absolute;
    background: #ccc;
    padding: 1px 7px;
    box-shadow: 1px 2px 5px;
    border-radius: 5px
}

.item{
	background: #FFF;
	padding-bottom: 5px;
	margin-bottom:10px;
	.img-thumbnail{
		position: relative;
		.price{
			@extend .price-country;
		    top: 15px;
		    left: 4px;   
		}
		.country{
			@extend .price-country;
		    bottom: 15px;
		    right: 4px;
		}
	}
}

/* profile page */



/* Footer */
footer{
	background-color:black;
	padding:20px;
	width:100%;
	position:absolute;
	bottom:0
}