
/* Global style */

body{
	background-color:#ccc;
}

/* login form */

.login{
	width:400px;
	margin:150px auto;
	h4{
		color:#888;
	}
	input{
		margin-bottom: 10px;
	}
	.form-control{
		background-color: #EAEAEA;
	}
	.btn{
		background-color: #008dde;
	}
}

/* navbar */

.navbar{
	border-radius:0;
	.navbar-brand{
		font-size: 1em;
	}
}

/* Edit Member Page */
.form-group{
	position: relative;
	.asterisk{
		position: absolute;
		top: 13px;
		right:25px;
		font-size: 24px;
		color:red;
	}
}

/* DashBoard Page */

.main{
	margin-top:30px;
	.states{
		background: white;
   	    padding: 25px 0;
   	    font-size: 18px;
   	    span{
   	    	display: block;
   	    	font-size: 35px;
   	    }
	}
}

.panels{
	margin-top:30px;
}

/* categories page */

.options span{
	cursor:pointer;
}

.active{
	color:red;
}

.panel-body{
	h3{
		cursor:pointer;
		margin-top:0;
	}
	hr{
		margin-top:10px;
	}
	.cat{
	    overflow: hidden
	}
	.hidden-buttons{
		margin-right: -94px;
	}
}

.cat:hover .hidden-buttons{
	margin-right: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
