
/* Global style */

body{
	background-color:#F4F4B2;
}

/* login form */

.login{
	width:400px;
	margin:150px auto;
	h4{
		color:#888;
	}
	input{
		margin-bottom: 10px;
	}
	.form-control{
		background-color: #EAEAEA;
	}
	.btn{
		background-color: #008dde;
	}
}

/* navbar */

.navbar{
	border-radius:0;
	.navbar-brand{
		font-size: 1em;
	}
}

/* Edit Member Page */
.form-group{
	position: relative;
	.asterisk{
		position: absolute;
		top: 13px;
		right:25px;
		font-size: 24px;
		color:red;
	}
}

/* DashBoard Page */

.main{
	margin-top:30px;
	.states{
		background: white;
   	    padding: 25px 0;
   	    font-size: 18px;
   	    span{
   	    	display: block;
   	    	font-size: 35px;
   	    }
	}
}

.panels{
	margin-top:30px;
}