/* Global style */
body {
  background-color: #F4F4B2;
}

/* login form */
.login {
  width: 400px;
  margin: 150px auto;
}
.login h4 {
  color: #888;
}
.login input {
  margin-bottom: 10px;
}
.login .form-control {
  background-color: #EAEAEA;
}
.login .btn {
  background-color: #008dde;
}

/* navbar */
.navbar {
  border-radius: 0;
}
.navbar .navbar-brand {
  font-size: 1em;
}

/* Edit Member Page */
.form-group {
  position: relative;
}
.form-group .asterisk {
  position: absolute;
  top: 13px;
  right: 25px;
  font-size: 24px;
  color: red;
}

/* DashBoard Page */
.main {
  margin-top: 30px;
}
.main .states {
  background: white;
  padding: 25px 0;
  font-size: 18px;
}
.main .states span {
  display: block;
  font-size: 35px;
}

.panels {
  margin-top: 30px;
}

/* categories page */
.options span {
  cursor: pointer;
}

.active {
  color: red;
}

.panel-body h3 {
  cursor: pointer;
  margin-top: 0;
}
.panel-body hr {
  margin-top: 10px;
}
.panel-body .cat {
  overflow: hidden;
}
.panel-body .hidden-buttons {
  margin-right: -94px;
}

.cat:hover .hidden-buttons {
  margin-right: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
